@charset "utf-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}

#eyecatch {
  height: 600px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch p {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 50px;
  color: #f2f2f2;
  font-weight: bold;
}

#top {
 margin: 0 0 0 auto;
 position: relative;
 top: -60px;
 height: 60px;
 justify-content: center;
 display: flex;
 text-align: center;
}

.news-title {
  margin: 0 0 0 auto;
  width: 600px;
  color: black;
  background-color: white;
  padding: 5px;
  text-align: left;
}


.top-p {
  width: 100px;
  color: white;
  background-color: black;
  align-items: center;
  padding: 25px;
  float: left;
}

#black {
  background-color: black;
  height: 350px;
  margin-top: -60px;
}

.black-left {
  margin: 80px;
  width: 70%;
  height: 30%;
  color: white;
  align-items: center;
  position: relative;
  left: 200px;
}

.black-left h2 {
  font-size: 30px;
}

.black-right img {
  width: 30%;
  height: 30%;
  float: right;
  margin-top: 30px;
}

.black-left h2,
.black-left p {
  margin-bottom: 30px;
}

.link {
  padding: 5px 20px;
  font-size: 14px;
  color: black;
  background-color: white;
  text-decoration: none;
}

.link:hover {
  color: #000;
  background: white;
}

#service {
  padding-top: 30px;
  background-color: #d3caca;
  margin-top: 200px;
  height: 300%;
}

#service .service-title {
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

.service-wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.s1-left {
  padding: 60px;
  width: 550px;
  height: 150px;
  position: relative;
  left: 100px;
  background-color: white;

}

.s1-left h1,
.s1-left p {
  margin-bottom: 20px;
}

.s1-right {
  width: 45%;
}

.s1-right img{
  display: block;
  width: 100%;
}

.button1,
.button2 {
  padding: 5px 20px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  border: 1px black solid;
  float: right;
}

.button1.hover,
.button2.hover {
  color: black;
  background: white;
}

.service-wrap2 {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.s2-right {
  padding: 60px;
  width: 550px;
  height: 150px;
  position: relative;
  right: 100px;
  background-color: white;

}

.s2-right h1,
.s2-right p {
  margin-bottom: 20px;
}

.s2-left {
  width: 50%;
}

.s2-left img {
  width: 100%;
}

#business {
  margin-top: 100px;
  width: 100%;
}

.business-wrap {
  display: flex; 
  width: 100%;
  justify-content: space-between;
}

.company,
.recruit {
  position: relative;
  width: 49%;
}


.company h1,
.recruit h1 {
  font-size: 40px;
  margin-bottom: 15px;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-weight: bold;
}

.company h3,
.recruit h3 {
  font-size: 20px;
  margin-bottom: 15px;
  position: absolute;
  color: white;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-weight: bold;
}

.company img, 
.recruit img {
  width: 90%;
  height: 300px;
}

.recruit img {
  float: right;
}

#FAQ {  
  width: 80%;
  height: 20%;
  background: black;
  color: white;
  display: flex;
  padding: 10px;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.FAQ-wrap {
  display: flex;
  justify-content: center;
}

.FAQ-wrap h2 {
  padding-left: 30px;
  font-size: 20px;
}

.F2 {
  color: white;
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding-left: 450px;
}

#contact {
  height: 600px;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 100px;
}

.contact-wrap {
  font-family: "sans-selif";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: white;
  text-align: center;
  width: 100%;
}

.contact-wrap h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.contact-wrap p {
  margin-bottom: 60px;
}

.contact-wrap h6 {
  font-size: 40px;
  margin-bottom: 30px;
}

.link3 {
  padding: 5px 20px;
  color: white;
  text-decoration: none;
  border: 1px white solid;
}

.link3:hover {
  color: white;
}

#footer {
  background-color: black;
  color: white;
  height: 60px;
  padding: 20px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

.footer-nav ul {
  display: flex;
}

.footer-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
}

.copyright {
  text-align: center;
  padding-left: 400px
}

body {
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
  min-height: 3400px;
}